* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-family: 'Acme', sans-serif;
  color: #2AB1DD;
  font-size: 50px;
  font-weight: bold;
}

.menu {
  color: white;
  background-color: #2AB1DD;
  text-transform: uppercase;
}

.icons {
  background-color: #DDDDDD;
  min-height: 600px;
}


.box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px #888888;
  margin: 30px;
}

.item-text h5 {
  font-size: 16px;
}



