* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #DDDDDD;
}

.logo {
  height: 70px;
  background-color: #fff;
}

h1 {
  font-family: 'Acme', sans-serif;
  color: #2AB1DD;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
}

.menu {
  height: 50px;
  color: white;
  background-color: #2AB1DD;
  text-transform: uppercase;
}

.box {
  width: 200px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, .3);
  padding: 20px 0;
  margin: 30px;
}

/* .orange {
  color: orange;
}

.green {
  color: green;
}

.blue {
  color: blue;
} userò direttamente stile inline, più semplice*/
